<!DOCTYPE html>
<html>
  <head>
    <title>Heatmap in JavaScript</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-heatmap.min.js"></script> 
    <style type="text/css">      
      html, body, #container { 
        width: 100%; margin: 0; padding: 0;  height: 100%;
      } 
    </style>
    <script id="data">
      {{data | safe}}
    </script>
  </head>
  <body>  
    <div id="container"></div>
    <script>
      anychart.onDocumentReady(function () {
          let chart = anychart.heatMap(getData());

          chart.title("Distribution of Labeling across pages");

          chart.container("container");

          chart.draw();
        
      });

      function getData(){
        var dataElement = document.querySelector('#data');
        var data = null;
        
        if(dataElement) {
            // Check if the element exists
            data = JSON.parse(dataElement.textContent || "");
        }
        console.log(data)
        return data;
      }
      
  </script>
  
  </body>
</html>