<!DOCTYPE html>
<html>
  <head>
    <title>Heatmap in JavaScript</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-heatmap.min.js"></script> 
    <style type="text/css">      
      html, body, #container { 
        width: 100%; 
        margin: 0; 
        padding: 0;  
        height: 100%;
        display: flex; /* Use flexbox for layout */
        flex-wrap: wrap; /* Allow items to wrap */
      } 
      .chart-container {
        width: 50%; /* Two columns */
        box-sizing: border-box; /* Include padding and border in the width */
        padding: 10px; /* Add some padding between charts */
      }
    </style>
    <script id="data">
      {{data | tojson}}
    </script>
  </head>
  <body>  
    <script>
      anychart.onDocumentReady(function () {
        var topics =[
              "virtual", 
              "reality",
              "vr",
              "artificial",
              "Intelligence",
              "Biotechnology",
              "ChatGPT",
              "machine",
              "learning",
              "privacy",
              "health",
              "education",
              "cybersecurity",
              "robotics",
              "finance",
              "space",
              "autonomous",
              "vehicles"
             ];
        var anychart_dictionary = {};
        let data_label_dict = getData();
        data_label_dict = JSON.parse(data_label_dict)
        for (var i = 0; i < topics.length; i++) {
            if (data_label_dict.hasOwnProperty(topics[i])){
              console.log("made it")
              anychart_dictionary[topics[i]] = data_label_dict[topics[i]]
            }
        }
        Object.entries(anychart_dictionary).forEach(([label, value]) => {
            console.log("Label:", label);
            console.log("Value:", value);
            let chart = anychart.heatMap(value);
            chart.title(label)
            var container = document.createElement('div');
            container.className = 'chart-container'; // Apply class for styling
            document.body.appendChild(container); // Append the container to the body
            chart.container(container); // Set the chart container
            chart.draw();
        })
      });

      function getData(){
        var dataElement = document.querySelector('#data');
        var data = null;
        if(dataElement) {
            // Check if the element exists
            data = JSON.parse(dataElement.textContent || "");
        }
        return data;
      }
    </script>
  </body>
</html>
